{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    {{#post}}
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">{{title}}</h1>
            <h2 class="site-description">{{content}}</h2>
        </div>
    </div>
    {{/post}}
</header>

<style>
    .post-feed {
        margin: auto;
    }
    .post-card {
        min-height: 200px;
        flex: 0 1 300px;
    }
    .post-card-content-link {
        padding: 25px;
    }
</style>

<!--start content area -->
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            <article class="post-card post">
                <div class="post-card-content">
                    <a class="post-card-content-link" href="https://ethibox.fr" target="_blank">
                        <header class="post-card-header">
                            <h2 class="post-card-title">Ethibox.fr</h2>
                        </header>
                        <section class="post-card-excerpt">
                            <p><b>Hébergeur d'applications web </b> (Blogs, Forums, E-commerces, Espaces de stockage, ERP, Webmails, etc...) pour les <b>entrepreneurs</b>, <b>startups</b> ou <b>développeurs</b>.</p>
                        </section>
                    </a>
                </div>
            </article>
            <article class="post-card post">
                <div class="post-card-content">
                    <a class="post-card-content-link" href="https://booklovers.fr" target="_blank">
                        <header class="post-card-header">
                            <h2 class="post-card-title">Booklovers.fr</h2>
                        </header>
                        <section class="post-card-excerpt">
                            <p>Je partage ma passion pour les livres de <b>développement personnel</b> avec ce site qui rassemble les <b>300 meilleurs livres Français de non-fiction</b>.</p>
                        </section>
                    </a>
                </div>
            </article>
            <article class="post-card post">
                <div class="post-card-content">
                    <a class="post-card-content-link" href="https://github.com/ston3o/docker-hacklab" target="_blank">
                        <header class="post-card-header">
                            <h2 class="post-card-title">Docker-hacklab</h2>
                        </header>
                        <section class="post-card-excerpt">
                            <p>Un <b>hacklab</b> qui rassemble plein d'outils de <b>pentesting</b> dans une image <b>docker</b>.</p>
                        </section>
                    </a>
                </div>
            </article>
            <article class="post-card post">
                <div class="post-card-content">
                    <a class="post-card-content-link" href="https://github.com/ston3o/rdcli" target="_blank">
                        <header class="post-card-header">
                            <h2 class="post-card-title">Rdcli</h2>
                        </header>
                        <section class="post-card-excerpt">
                            <p>Un logiciel en ligne de commande pour <b>télécharger</b> et <b>débrider</b> des liens <b>DDL</b>, <b>torrent</b> et <b>magnet</b>.</p>
                        </section>
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>
